<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">
  <test name="dependsExamplechrome"><!-- Test Level -->
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Day8.dependsExample"/>

    </classes>
  </test> <!-- Test -->
  <test name="dependsExamplefirefox">
   <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="Day8.dependsExample"/>

    </classes>
  </test> <!-- Test -->
  <test name="Scrollingfirefox">
   <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="Day7.Scrolling"/>

    </classes>
  </test>
  
</suite> <!-- Suite -->
